
body {
	background: #484f5e;
	color: #31373f;
}

main.container {
	padding: 40px 20px;
}


.profile {
	background: linear-gradient(135deg, #999a9b, #9ae6f3);
	padding: 50px 20px;
	border-radius: 16px;
	margin-bottom: 30px;
}

.profile img {
	border: 4px solid rgb(14, 12, 12);
    border-radius: 8px;
    width: 120px;
}

h1{
	color: #131314;
}
.profile h1 {
	margin: 10px 0 5px;
	font-size: 2rem;
}

.profile .lead {
	color: #151616;
	font-size: 1rem;
}


section {
	background: linear-gradient(135deg, #999a9b, #9ae6f3);
	padding: 24px;
	border-radius: 14px;
	box-shadow: 0 10px 25px rgba(0,0,0,0.05);
	margin-bottom: 24px;
}


section h2 {
	color: #090a0a;
	margin-top: 0;
	border-bottom: 2px solid #e5e7eb;
	padding-bottom: 6px;
}


ul {
	margin: 10px 0 0;
	padding-left: 20px;
}

li {
	margin-bottom: 10px;
}

footer {
	margin-top: 30px;
    text-align: center;
	background: #545d72;
	color: #07080c;
	padding: 25px;
	border-radius: 20px;
}


@media (max-width: 600px) {
	.profile h1 {
		font-size: 1.6rem;
	}

	section {
		padding: 18px;
	}
}
